@using imtahan.Core.Models
@model List<Speaker>
@{
    int counter = 0;
}

<div class="container">
    <div class="col-4 mb-3">
        <a asp-action="Create" class="btn btn-primary">Create</a>
    </div>
    <div class="row">
        <div class="col-12">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">Fullname</th>
                        <th scope="col">Description</th>
                        <th scope="col">Image</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var speaker in Model)
                    {
                        counter++;
                        <tr>
                            <th scope="row">@counter</th>
                            <td>@speaker.Id</td>
                            <td>@speaker.Fullname</td>
                            <td>@speaker.Description</td>
                            <td>
                                <img src="~/uploads/speakers/@speaker.ImageURL" width="100" height="100" />
                            </td>
                            <td>
                                <a asp-action="Update" asp-route-id="@speaker.Id" class="btn btn-warning">Update</a>
                                <a asp-action="Delete" asp-route-id="@speaker.Id" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>